@page "{passed_id}"
@model InstagramCloneWebApp.Pages.AccountPageModel
@{
    ViewData["Title"] = "REACH ME - Account";
    var passed_id = RouteData.Values["passed_id"];
}

<link rel="stylesheet" href="~/css/accountPageCSS.css" />
<link rel="stylesheet" href="~/css/navigationBarCSS.css" />
<header>
    <div id="mainNavContainer">
        <span>ReachMe</span>
        <form method="post">
            <input type="submit" value="Home" class="linktopage" asp-page-handler="ToHome" />
        </form>
        <form method="post">
            <input type="submit" value="Profile" class="linktopage" asp-page-handler="ToProfile" />
        </form>
        <form method="post">
            <input type="submit" value="Discover" class="linktopage" asp-page-handler="ToDiscover" />
        </form>
        <form method="post">
            <input type="submit" value="Account" class="linktopage" asp-page-handler="ToAccount" />
        </form>
        <form method="post">
            <input id="searchbar" type="text" placeholder="Search" name="searchbar" />
            <input id="searchbutton" type="submit" value="SEARCH" asp-page-handler="Search" />
        </form>
        <form method="post">
            <input id="postbutton" type="submit" value="POST" asp-page-handler="Picture" />
        </form>
        <form method="post">
            <input id="logoutbutton" type="submit" value="LOG OUT" asp-page-handler="LogOut" />
        </form>
    </div>
    @if (Model.foundUsers.Count > 0)
    {
        @for (int i = 0; i < Model.foundUsers.Count; i++)
        {
            if (i == 0)
            {
                <div id="searchingresult">
                    <strong>Searching results:</strong>
                </div>
            }
            <div id="searchingresult">
                <a href="@Model.links[i]">@Model.foundUsers[i].username</a>
            </div>
        }
    }
</header>
<div id="mainContainer">
    <div id="accContainer">
        <h1>Account</h1>
        <h2>You can change your information</h2>
        <form method="post" asp-page-handler="ChangeEmail">
            <input type="email" placeholder="E-mail" name="email" />
            <input type="submit" value="CHANGE E-MAIL" />
        </form><br />
        <form method="post" asp-page-handler="ChangeUsername">
            <input type="text" placeholder="Username" name="username" />
            <input type="submit" value="CHANGE USERNAME" />
        </form><br />
        <form method="post" asp-page-handler="ChangePassword">
            <input type="password" placeholder="Password" name="password" />
            <input type="submit" value="CHANGE PASSWORD" />
        </form><br />
        <form method="post" asp-page-handler="AddDescription">
            <input type="text" placeholder="Profile bio..." name="description" />
            <input type="submit" value="ADD DESCRIPTION" />
        </form><br />
        <form method="post" enctype="multipart/form-data" asp-page-handler="ProfilePic">
            <input type="file" asp-for="formFile"/>
            <input type="submit" value="SET PROFILE PICTURE" />
        </form><br />
        <form method="post" asp-page-handler="DeleteAccount">
            <input type="submit" id="deletebutton" value="DELETE ACCOUNT" />
        </form>
        @if (Model.infoMessage.Length > 0)
        {
            <div>
                <strong>@Model.infoMessage</strong>
            </div>
        }
    </div>
</div>
