@page "{my_id}"
@model InstagramCloneWebApp.Pages.DiscoverPageModel
@{
    ViewData["Title"] = "REACH ME - Discover";
}

<link rel="stylesheet" href="~/css/navigationBarCSS.css" />
<link rel="stylesheet" href="~/css/discoverPageCSScss.css" />
<header>
    <div id="mainNavContainer">
        <span>ReachMe</span>
        <form method="post">
            <input type="submit" value="Home" class="linktopage" asp-page-handler="ToHome" />
        </form>
        <form method="post">
            <input type="submit" value="Profile" class="linktopage" asp-page-handler="ToProfile" />
        </form>
        <form method="post">
            <input type="submit" value="Discover" class="linktopage" asp-page-handler="ToDiscover" />
        </form>
        <form method="post">
            <input type="submit" value="Account" class="linktopage" asp-page-handler="ToAccount" />
        </form>
        <form method="post">
            <input id="searchbar" type="text" placeholder="Search" name="searchbar" />
            <input id="searchbutton" type="submit" value="SEARCH" asp-page-handler="Search" />
        </form>
        <form method="post">
            <input id="postbutton" type="submit" value="POST" asp-page-handler="Picture" />
        </form>
        <form method="post">
            <input id="logoutbutton" type="submit" value="LOG OUT" asp-page-handler="LogOut" />
        </form>
    </div>
    @if (Model.foundUsers.Count > 0)
    {
        @for (int i = 0; i < Model.foundUsers.Count; i++)
        {
            if (i == 0)
            {
                <div id="searchingresult">
                    <strong>Searching results:</strong>
                </div>
            }
            <div id="searchingresult">
                <a href="@Model.links[i]">@Model.foundUsers[i].username</a>
            </div>
        }
    }
</header>
@foreach(DiscoverUserInfo u in Model.suggestedAccounts)
            {
                <div>
                    <strong>@u.id</strong>
                    <strong>@u.username</strong>
                </div>
            }