@page
@model InstagramCloneWebApp.Pages.ForgotPasswordPageModel
@{
    ViewData["Title"] = "REACH ME - Forgot Password Page";
}

<link rel="stylesheet" href="~/css/forgotPageCSS.css" />
<div id="mainContainer">
    <div id="regContainer">
        <h1>Forgot your password?</h1>
        <h2>Do not worry, we got you</h2>
        <form>
            <input type="email" placeholder="E-mail" /> <br />
            <input type="button" value="SEND" />
        </form>
        <p>
            Check your e-mail inbox
        </p>
    </div>
</div>