@page
@model InstagramCloneWebApp.Pages.ForgotPasswordPageModel
@{
    ViewData["Title"] = "REACH ME - Forgot Password Page";
}

<link rel="stylesheet" href="~/css/forgotPageCSS.css" />
<div id="mainContainer">
    <div id="regContainer">
        <h1>Forgot your password?</h1>
        <h2>Do not worry, we got you</h2>
        <form method="post">
            <input type="email" placeholder="E-mail" name="email"/> <br />
            <input id="submitbutton" type="submit" value="SEND" />
        </form>
        <p>
            Check your e-mail inbox
        </p>
    </div>
</div>