@page
@model IndexModel
@{
    ViewData["Title"] = "REACH ME - Home";
}

<link rel="stylesheet" href="~/css/indexPageCSS.css" />
<div>
    <h1>
        Welcome to <span>Reach Me!</span>
    </h1>
    <p>
        Stay connected with your friends and meet new people
    </p>
    <button id="button1" onclick="location.href = 'LoginPage';">
        LOG IN
    </button><br />
    <button id="button2" onclick="location.href = 'RegistrationPage';">
        REGISTER
    </button>
</div>
