@page "{passedemail}"
@model InstagramCloneWebApp.Pages.ResetPasswordPageModel
@{
    ViewData["Title"] = "REACH ME - Reset Password Page";
    var passedmail = RouteData.Values["passedemail"];
}

<link rel="stylesheet" href="~/css/resetPageCSS.css" />
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ReachMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/LoginPage">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/RegistrationPage">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="mainContainer">
    <div id="regContainer">
        <h1>Reset your password</h1>
        <h2>Enter new password</h2>
        <form method="post">
            <input type="password" placeholder="Password" name="password" /> <br />
            <input type="password" placeholder="Repeat password" name="repeatpassword" /><br />
            <input type="submit" value="RESET" />
        </form>
        @if (Model.data2.Length > 0)
        {
            <div>
                <strong>@Model.infoMessage</strong>
            </div>
        }
    </div>
</div>