@page "{passed_id}"
@model InstagramCloneWebApp.Pages.UploadPhotoPageModel
@{
    ViewData["Title"] = "REACH ME - Upload Photo";
    var passed_id = RouteData.Values["passed_id"];
}

<link rel="stylesheet" href="~/css/uploadPhotoPageCSS.css" />
<link rel="stylesheet" href="~/css/navigationBarCSS.css" />
<header>
    <div id="mainNavContainer">
        <span>ReachMe</span>
        <form method="post">
            <input type="submit" value="Home" class="linktopage" asp-page-handler="ToHome" />
        </form>
        <form method="post">
            <input type="submit" value="Profile" class="linktopage" asp-page-handler="ToProfile" />
        </form>
        <form method="post">
            <input type="submit" value="Discover" class="linktopage" asp-page-handler="ToDiscover" />
        </form>
        <form method="post">
            <input type="submit" value="Account" class="linktopage" asp-page-handler="ToAccount" />
        </form>
        <form method="post">
            <input id="searchbar" type="text" placeholder="Search" />
            <input id="searchbutton" type="submit" value="SEARCH" asp-page-handler="Search" />
        </form>
        <form method="post">
            <input id="postbutton" type="submit" value="POST" asp-page-handler="Picture" />
        </form>
        <form method="post">
            <input id="logoutbutton" type="submit" value="LOG OUT" asp-page-handler="LogOut" />
        </form>
    </div>
</header>
<div id="mainContainer">
    <div id="accContainer">
        <h1>Want to upload photo?</h1>
        <h2>You can do that here</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="file" asp-for="_empData.ImageFile"/><br />
            <input type="text" asp-for="_empData.ImageDecsription" placeholder="Description..." /><br />
            <input type="submit" value="POST" />
        </form><br />
        @if (Model.infoMessage.Length > 0)
        {
            <div>
                <strong>@Model.infoMessage</strong>
            </div>
        }
    </div>
</div>
